.logodiv{
	width: 100%;
    background-size:cover;
    height: 130px;
    color:aqua;
}
.logo{
    width: 100%;
    background-size:cover;
    height: 130px;
    background-repeat:no-repeat;
}
.logopad{
    padding: 10px 5px  25px 0px;
}
.item{
    height: 350px;

}

.image{
    align-content: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    background-size: cover;
 }
 .img{
     height: 120px;
     width: 120px;
 }
 .img1{
 height: 50px;
 width: 50px;
 }
